# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyt
*.pyi
*.pyx
*.pxd
*.pxi
*.rpy
*.pywz
*.pyc

# Poetry
__pypackages__/
.poetry/
*.egg-info/
dist/
build/
.cache/
.pytest_cache/
.tox/
.coverage
htmlcov/
.coverage.*
.pytest_cache/
.pytest_cache/*
.pytest_cache/**/*
*.spec
temp.html